@import "tailwindcss";

@variant dark (.dark &);

:root {
  --background: white;
  --foreground: black;
}

.dark {
  --background: oklch(21% 0.006 285.885);
  --foreground: white;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
